.container {
  background-color: chartreuse;
  margin: 50px;
  padding: 40px;
  border-radius: 6%;
}
h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-radius: 6%;
  height: 500px;
  width: 500px;
  rotate: 500;
}

button {
  margin: 0 auto;
}
